:root{
  --bg:url(InShot_20231208_122457085\ \(1\).jpg); 
  --card:#fff; 
  --accent:#0b6b4f; 
  --accent-2:#0f9d6a; 
  --muted:#6b7280;
}

*{box-sizing:border-box}
body{
  margin:0;
  background:var(--bg);
  font-family:system-ui, sans-serif;
  padding:20px;
  color:#071429;
}

.card{
  max-width:700px;
  margin:auto;
  background:#fff;
  padding:20px;
  border-radius:15px;
  box-shadow:0 10px 30px rgba(0,0,0,0.05);
}

.start-screen{text-align:center}

.start-img{
  width:100%;
  border-radius:12px;
  filter: blur(2PX);
}

.hidden{display:none}

.question{
  font-size:20px;
  font-weight:600;
  margin-top:10px;
}

.choices{
  margin-top:14px;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.choice{
  padding:12px;
  border-radius:10px;
  background:#fff;
  border:1px solid #e3e7ea;
  cursor:pointer;
}

.choice:hover{
  box-shadow:0 6px 20px rgba(0,0,0,0.07);
}

.choice.correct{
  background:#e6fff3;
  border-color:#0b6b4f;
}

.choice.wrong{
  background:#ffe9e9;
  border-color:#d9534f;
}

.progress{
  background:#e4f3ed;
  height:8px;
  border-radius:10px;
  overflow:hidden;
  margin-bottom:10px;
}

#progressBar{
  height:100%;
  width:0%;
  background:linear-gradient(90deg, var(--accent), var(--accent-2));
}

.btn{
  background:var(--accent);
  color:#fff;
  padding:12px 18px;
  border:0;
  border-radius:10px;
  cursor:pointer;
}

.btn:disabled{
  opacity:.5;
}

.btn-ghost{
  background:#fff;
  border:1px solid var(--accent);
  color:var(--accent);
  padding:12px 18px;
  border-radius:10px;
  cursor:pointer;
}

.controls{
  display:flex;
  justify-content:space-between;
  margin-top:15px;
}

.muted{
  color:var(--muted);
  font-size:14px;
}
.center-btn{
  margin: 5px;
  text-align: center;
  font-weight: bold;
}
p{
  margin: 0%;
  padding:0%;
  text-align: center;
  /*background: #0b6b4f;*/
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}
.creator{
  margin-top: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #ffff;
}
#againStartBtn{
  background-color: #0b6b4f;
  color: white;
  border-radius: 10px;

}
#modeSelect{
  background-color: rgb(24, 24, 138);
  color: white;
  box-sizing: border-box;
  border-radius: 25px;
  font-weight: 600;
  font-display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-color: black;
}
.social-icons a {
  color: #fff;                
  background-color: #333;     
  padding: 10px;
  margin: 5px;
  border-radius: 50%;         
  display: inline-block;
  font-size: 24px;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
  background-color: #ff0000; /* YouTube hover color */
}
